@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.inter-light {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.inter-semibold {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.inter-bold {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

:root {
  --padding-one: 40px;
  --padding-two: 24px;
  --spacing-one: 24px;
  --spacing-two: 16px;
  --spacing-three: 6px;
  --grey-900: hsl(0, 0%, 8%);
  --grey-800: hsl(0, 0%, 12%);
  --grey-700: hsl(0, 0%, 20%);
  --white: hsl(0, 0%, 100%);
  --green: hsl(75, 94%, 57%);
  --radius-one: 20px;
  --button-padding: 12px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin: 12px 0;
}
.attribution a {
  color: var(--green);
  text-decoration: none;
}

body,
h1,
p {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1 {
  font-size: 24px;
}
p {
  font-size: 14px;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: var(--grey-900);
  color: var(--white);
}
main {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--grey-800);
  display: flex;
  width: 384px;
  height: 611px;
  flex-direction: column;
  margin: auto;
  align-items: center;
  padding: var(--padding-one);
  border-radius: var(--radius-one);
  gap: var(--spacing-one);
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}
.location {
  color: var(--green);
  font-size: 14px;
}
.baseline {
  font-size: 14px;
}

ul {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-two);
  margin: auto;
  list-style: none;
  width: 100%;
  padding: 0;
}

li {
  display: block;
  width: 100%;
  padding: 0 8px;
}
li a {
  background-color: var(--grey-700);
  display: block;
  text-align: center;
  padding: var(--button-padding);
  text-decoration: none;
  color: var(--white);
  border-radius: 8px;
  transition: background-color 0.2s ease;
  font-size: 14px;
}
li a:hover {
  background-color: var(--green);
  color: var(--grey-900);
}

.avatar {
  margin: auto;
  border-radius: 100%;
  width: 88px;
  height: 88px;
}

@media screen and (max-width: 375px) {
  main {
    width: 327px;
    height: 579px;
    padding: var(--padding-two);
    margin: 0 8px;
  }
}
