@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.inter-light {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.inter-medium {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.inter-bold {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

:root {
  --padding-one: 40px;
  --spacing-one: 32px;
  --spacing-two: 12px;
  --spacing-three: 6px;
  --grey-900: hsl(0, 0%, 8%);
  --grey-800: hsl(0, 0%, 12%);
  --grey-700: hsl(0, 0%, 20%);
  --white: hsl(0, 0%, 100%);
  --green: hsl(75, 94%, 57%);
  --radius-one: 20px;
  --button-padding: 6px 12px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.demo {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
  opacity: 0;
}

body,
h1,
p {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1 {
  font-size: 24px;
}
p {
  font-size: 14px;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: var(--grey-900);
  color: var(--white);
}
main {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--grey-800);
  display: flex;
  width: 390px;
  height: 610px;
  flex-direction: column;
  margin: auto;
  align-items: center;
  padding: var(--padding-one);
  border-radius: var(--radius-one);
  gap: var(--spacing-one);
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 440px;
  gap: var(--spacing-two);
  width: 100%;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.location {
  color: var(--green);
}

ul {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-two);
  margin: auto;
  list-style: none;
  width: 100%;
  padding: 0;
}

li {
  display: block;
  width: 100%;
}
li a {
  background-color: var(--grey-700);
  display: block;
  text-align: center;
  padding: var(--button-padding);
  text-decoration: none;
  color: var(--white);
  border-radius: 8px;
  transition: background-color 0.2s ease;
}
li a:hover {
  background-color: var(--green);
  color: var(--grey-900);
}

.avatar {
  margin: auto;
  border-radius: 100%;
  width: 90px;
  height: 90px;
}
